.container { 
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  }
  
/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif; 
}
h1 {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
/* header */
.nav .link {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color:  #4d5ae5;
}
.nav .list {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}
.studio {
  color: #2e2f42;
}
link {
  color: #2e2f42;
}
link:hover {
  color: #404bbf;
}
link:active {
  color: #404bbf;
}
.address .a-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.a-link:hover{
  color: #404bbf;
}
.a-link:focus{
  color: #404bbf;
}
.list .hed-link{
  color: #2e2f42;
}
.list .hed-link:hover{
  color: #404bbf;
}
.list .hed-link:focus{
  color: #404bbf;
}
.address{
  font-style: normal;
}
/* main  */
/* banner */
.section-banner {
  background-color: #2e2f42;
}
.hed{

}
.btm {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btm:hover{
  background-color: #404bbf;
}
.btm:focus{
 background-color: #404bbf;
}
/* section Advantages */
.h-adv {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:  #2e2f42;
}
.p-adv {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section Our Team */
.section-our-team {
  background-color: #f4f4fd;
}
.our-team {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.name-team {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-img{
  background-color: #FFFFFF;
  font-weight: 500;
  color: #2e2f42;
}
/* section Our Portfolio */
.our-portfolio {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 700;
}
.name-portfolio {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer {
  background: #2e2f42;
}
.footer .link {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}
.footer .studio {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
